{% extends "::base.html.twig" %}

{% block body %}
    <h2 class="title">Liste Location</h2>

    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <table class="table striped highlight">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Addresse</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for loc in locations %}
                        <tr>
                            <td>{{ loc.id }}</td>
                            <td>{{ loc.name }}</td>
                            <td>{{ loc.addressName }}</td>
                            <td>{{ loc.longitude }}</td>
                            <td>{{ loc.latitude }}</td>
                            <td>
                                <a href="{{ path('remove_location', {'location_id': loc.id} ) }}"><i class="material-icons">delete</i></a>
                                <a href="{{ path('edit_location', {'location_id': loc.id} ) }}"><i class="material-icons">edit</i></a>
                                <a href=""><i class="material-icons">remove_red_eye</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd4Poy6TmjkrC8AHTeL7XX6aLS4Pyz45I&libraries=geometry,places">
    </script>

    <script>require("Resources/build/cartography.js")</script>
{% endblock %}