<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Base</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('/css/main.css') }}"/>

    <script src="{{ asset('/js/jquery.slim.js') }}"></script>
    {#<script src="{{ asset('/js/bootstrap.bundle.min.js') }}"></script>#}
    <script src="{{ asset('/js/materialize.min.js') }}"></script>

    <script src="{{ asset("/js/vendor.js") }}"></script>
    <script src="{{ asset("/js/app.js") }}"></script>
</head>
<body>
{% include ":render:header.html.twig" %}

<div id="loader">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

{% block body %}
{% endblock %}

<div class="container">
    {% block bodyContained %}
    {% endblock %}
</div>

{% block javascripts %}
    {# JS ROUTING FOR VUE TEMPLATES #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        require('Resources/build/main.js');
        var axios = require('axios');
        const ASSET_DIR = "{{ asset('') }}";
    </script>
{% endblock %}
</body>
</html>