<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
    <body>
    {% block header %}
        <h1>Accueil</h1>
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        {# JS ROUTING FOR VUE TEMPLATES #}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        <script src="{{ asset('js/vendor.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
    {% endblock %}
    </body>
</html>
