<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="{{ asset('/assets/app.css') }}"/>
    <script src="{{ asset("/assets/vendor.js") }}"></script>
    <script src="{{ asset("/assets/app.js") }}"></script>
</head>
<body>

<header>
    <ul>
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('homepage_vue') }}">Application Vue Dashboard</a></li>
        <li><a href="{{ path('cartography') }}">Map d'évènnements</a></li>
    </ul>
</header>

<div id="loader">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


{% block body %}
{% endblock %}

{% block javascripts %}
    {# JS ROUTING FOR VUE TEMPLATES #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>require('Resources/build/main.js');</script>
    <script>var axios = require('axios');</script>
    <script>var $ = require('jquery');</script>
{% endblock %}
</body>
</html>