{% extends "::base.html.twig" %}

{% block body %}
    {#{% if app.user is not empty %}#}
        {#{{ dump(app.user) }}#}
    {#{% endif %}#}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script>
        const datas = {
            {#user: {% if app.user is not empty %}{{ app.user|serialize('json')|raw }}{% else %}"toto"{% endif %},#}
            user: {},
            staticFolder :"{{ asset("") }}"
        };
    </script>

    <script>require('Resources/build/vue/index.js');</script>
{% endblock %}